.wrapper-class {
  font-family: "Montserrat" !important;
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  font-family: "Montserrat" !important;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-bottom: 1.2rem;
  font-family: "Montserrat" !important;
  border: 0.5px solid black;
  border-radius: 20px;
}
