.page {
  position: absolute;
  background-color: white;
  width: 100%;
}

.page-enter {
  opacity: 0;
  // transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  // transform: scale(1);
  transition: opacity 250ms;
}

.page-exit {
  opacity: 1;
  // transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  // transform: scale(0.9);
  transition: opacity 250ms;
}

.center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.inline-block {
  width: fit-content;
  display: inline-block;
  position: relative;
}

.hide-992 {
  display: block;
}

.unhide-992 {
  display: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.center-relative-horizontal {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.font-bold {
  font-weight: 500 !important;
}

.center-relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-relative-fit-content {
  width: fit-content;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.horizontal-center-relative {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vertical-center-relative {
  position: relative;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-top-relative {
  position: relative;
  width: fit-content;
  top: 3%;
  transform: translateY(-0%);
}

.horizontal-center-margin {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.bold-300 {
  font-weight: 300;
}

.bold-400 {
  font-weight: 400;
}

.margin-global-right-05 {
  margin-right: 0.5rem;
}

.margin-global-top-1 {
  margin-top: 1rem;
}

.margin-global-top-2 {
  margin-top: 2rem;
}

.margin-global-bottom-2 {
  margin-bottom: 2rem;
}

.margin-global-top-3 {
  margin-top: 3rem;
}

.margin-global-top-4 {
  margin-top: 4rem;
}

.margin-global-top-5 {
  margin-top: 5rem;
}

.margin-global-top-6 {
  margin-top: 6rem;
}

.margin-global-top-7 {
  margin-top: 7rem;
}

.margin-global-top-8 {
  margin-top: 8rem;
}

.margin-global-top-9 {
  margin-top: 9rem;
}

.margin-global-top-10 {
  margin-top: 10rem;
}

.padding-left-0-5 {
  padding-left: 0.5rem;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

// Devices (less than 1700px)
@media (max-width: 106.1875em) {
}

// Devices (less than 1600px)
@media (max-width: 99.9375em) {
}

// Devices (less than 1500px)
@media (max-width: 93.6875em) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Devices (less than 1300px)
@media (max-width: 81.1875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
  .hide-1200 {
    display: none;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
  .center-relative-992 {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .hide-992 {
    display: none;
  }
  .unhide-992 {
    display: block;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
  .hide-768 {
    display: none;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-bold {
  &:hover {
    font-weight: 500 !important;
  }
}

.font-gold {
  color: #cf993d;
}

.yesno-button {
  text-decoration: none !important;
  background-color: #cf993d !important;
  color: white !important;
  text-align: center !important;
  font-weight: 600 !important;
  border: 1px solid #cf993d;
  padding: 0.5rem 0 !important;
  width: 5rem !important;
  border-radius: 100px !important;
  font-size: 1rem !important;
  display: block !important;
  transition: 0.3s ease-in-out !important;
  &:hover {
    background-color: transparent !important;
    color: #cf993d !important;
  }
  &:active {
    background-color: #f5d9aa !important;
  }
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 87.49875em) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 74.99875em) {
  .yesno-button {
    width: 4.5rem;
    font-size: 0.9rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 61.99875em) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 47.99875em) {
  .yesno-button {
    width: 4rem;
    font-size: 0.8rem;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 35.99875em) {
  .yesno-button {
    width: 3.5rem;
    font-size: 0.7rem;
  }
}

.disabled-yesno-button {
  opacity: 0.5;
}

.disabled-yesno-button:hover {
  background-color: #cf993d !important;
  color: white !important;
}

.striked {
  text-decoration: line-through;
}

.discount-text {
  color: rgb(160, 0, 0);
}

.center-container {
  position: relative;
}

.center-child {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.outline {
  border: 1px solid #cf993d;
}

.vertical-center {
  margin: 0 !important;
  position: relative;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
