.dash-nav {
  background-color: #f9f9f9;
  width: fit-content;
  border-radius: 20px;
  .link {
    margin: 1.2rem;
    display: inline;
    width: fit-content;
    a {
      color: black;
      font-size: 1.3rem;
      font-weight: 300;
      transition: 0.3s ease-in-out;
      &:hover {
        color: #cf993d;
      }
    }
  }

  .line {
    display: "inline";
    width: fit-content;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .active {
    a {
      color: #cf993d;
      font-weight: 500;
    }
  }
}
