.address-container {
  font-size: 1.2rem;
  display: flex;
}

.form-heading {
  margin-bottom: 0.5rem;
}

.delivery-form {
  padding-left: 5rem;
  padding-right: 5rem;
}

.address-row {
  margin-top: 1rem;
}
.my-addresses {
  .address-row {
    border-bottom: 1px solid #dedfe0;
  }
  .col {
    position: relative;
    .delete-icon {
      font-size: 2rem;
      color: black;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s ease-in-out;
      &:hover {
        color: #cf993d;
        cursor: pointer;
      }
    }
  }
  .add-address {
    display: flex;
    position: relative;
    margin-top: 0.8rem;
    width: fit-content;
    .add-icon {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.6rem;
      margin-right: 0.5rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.form-check {
  width: fit-content;
}

input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: -2px;
  left: -1.4px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}

input[type="radio"]:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #cf993d;
  border: 1px solid black !important;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 0;
}

.delete-icon {
  font-size: 1.75rem !important;
}
