.custom-modal .modal-content {
  background-color: white;
}

.custom-modal .modal-content {
  border: 1px solid #cf993d;
  border-radius: 20px !important;
}

.modal-header {
  border-bottom: 0 none;
}
